<a asp-controller="Client" asp-action="ProductList">Quit panel</a>

<a asp-action="UserList" class="btn btn-outline-dark">Users</a>
<a asp-action="ProductList" class="btn btn-outline-dark">Products</a>
<a asp-action="OrderList" class="btn btn-outline-dark">Orders</a>