<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Technology store</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Client.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-primary" asp-controller="Client" asp-action="ProductList">Technology store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-danger" asp-controller="Manage" asp-action="ManagePanel">Manage panel</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity != null)
                        {
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-success" asp-controller="Client" asp-action="Basket">Basket</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-success" asp-controller="Client" asp-action="OrderList">History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-controller="Auth" asp-action="MyProfile">@User.Identity.Name</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-black" asp-controller="Auth" asp-action="Logout">Logout</a>
                                </li>
                            }
                        }
                        @if (User.Identity != null)
                        {
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-controller="Auth" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-success" asp-controller="Auth" asp-action="Register">Register</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container pb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            <p class="text-center my-2">© 2024 Technology Store</p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
